body{
	background-color: #000;
	font-family: 'Rasa', serif;
}
.text-title{
	color: #fff;
}

/* css de carusel de navegación*/
.iconsDefaultColor{
	color: #00FFFF;
}
.iconsNavegationColor{
	color:#F07A8A;
}
/*carussel texto*/
.c/*arousel{
	position: relative;
    text-align: center;
    color: white;
	}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
   } */
/*rgba(0, 8, 20, 0.5) color del div*/
/*.caruselV3{
	width: 100%;
	position: relative;
}
.caruselV3 .carousel .img-carousel{
	width: 100%;

}
.carousel .text{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	text-align:center;
	align-content:space-around;
	
	padding: 5px 40px;
	color:#fff;
	z-index: 1;el texto sobre la imagen
}
.carousel .text{
	font-size: 20px;
	margin-top: 10px;
}*/
